# client 
client/.vscode
client/node_modules
client/plugins
server/bin
server/target
client/package-lock.json
client/yarn.lock
client/platforms/electron/build
client/platforms/electron/www
client/www/dist

# server 
server/bin 

# website
website/bin