body {
    display: none;
}
/**/
h1 {
    color: red !important;
}

.cde_loader {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(deepskyblue, lightskyblue, PaleTurquoise, powderblue, skyblue);
    z-index: 10;
    /* display: none; */
    /* margin: 0; */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-attachment: fixed; */

}  
.cm-cloud, .cm-balloon{
    position: absolute;
}
.cm-cont{
    overflow: hidden;
}
.cm-cover{
    background: black;
}
.cl-cont-2, .cl-cont-1, .cm-balloon-cnt, .cm-balloon-cnt1, .cm-balloon-cnt2, .row{
    height:100%;
    width: 100%;
    position:absolute;
    margin: 0;
}

.cl-cont-1{
    animation-name: clouds;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cl-cont-2{
    animation-name: clouds;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cm-balloon-cnt{
    overflow:hidden;
}

.cl-cont-1 > .cm-cloud {
    width: 40%;
}

.cl-cont-2 > .cm-cloud{
    width: 30%;
}

#c1 {
    top: 20%;
    left: 10%;
}
#c2 {
    top: 40%;
    left: 20%;
}
#c3 {
    top: 60%;
    left: 100%
}
#c3n {
    top:12%;
    left:62%
}
#c3n2 {
    top:34%;
}
#c4 {
    top: 80%;
    left: 65%
}

#c5 {
    top: 5%;
    left: 28%;
} 
#c6 {
    top: 30%;
    left: 95%
}
#c7 {
    top: 50%;
    left: 22%
}
#c7n {
    top: 55%;
    left: 88%;
}

#c8 {
    top: 75%;
    left: 11%
}

@keyframes clouds{
    from {left: 150%}
    to {left: -150%;}
}

p {
    bottom:10%;
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: indigo;
    font-size: 5vw;
    font-weight: 800;
}

.cm-balloon{
    width: 25%
}

#b1{
    top: 20%;
    left: 60%;
}

#b2{
    top: 55%;
    left:11%;
}

#b3{
    top: 90%;
    left: 44%;
}

#b4{
    top: 75%;
    left: 40%
}

#b5{
    left: 50%;
    top: 33%
}

@keyframes balloons{
    from{top:100%;}
    to {top:-100%}
}

.cm-balloon-cnt1, .cm-balloon-cnt2{
animation-name: balloons;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.cm-balloon-cnt1{
    animation-duration: 40s;
}

.cm-balloon-cnt2{
    animation-duration: 25s;
}

.scene-footer-container {
    display: none;
}

#settings {
    display: none;
}

.app-viewcard-strip {
    display: none;
}

#zoom-to-sv {
    display: none;
}

#photo-uploader-dialog {
    display: none;
}

#treksvideo {
    display: none;
}

/*.noprint {
 // display: none;
}*/

.watermark {
    display: none !important;
}

.widget-pane-toggle-button-container {
    display: block !important;
}

.widget-homescreen {
    display: none !important;
}

#omnibox {
    display: none !important;
}

#gb {
    display: none;
}

.section-hotel-carousel {
    display: none;
}


.section-listbox.section-listbox-space-between.section-listbox-flex-vertical.section-listbox-flex-horizontal {
    display: none;
}

.section-info.noprint.section-info-hoverable {
    display: none;
}

.section-info.section-info-hoverable {
    display: none;
}

.widget-titlecard-labelspotlightcontainer {
    display: none;
}

.section-listbox.noprint.section-listbox-horizontally-center-content.section-listbox-vertically-center-content.section-listbox-flex-horizontal { 
    display: none;
}

.section-subheader {
    display: none;
}

.section-subheader-explanation-bubble {
    display: none;
}

.jqnFjrOWMVU__root {
    display: none;
}

.section-listbox.noprint.section-listbox-horizontally-center-content.section-listbox-vertically-center-content.section-listbox-flex-horizontal {
    display: none;
}

.section-review {
    display: none;
}

.section-hero-header-description-container {
    display: none;
}

.section-subheader {
    display: none;
}